*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: black;
}

#container {
  max-height: 100vh;
  background-color: black;
  display: flex;
  cursor: default;
}

.main-img {
  height: 100vh;
}

.content {
  padding: 3rem;
  flex: 1;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;

  display: flex;
  flex-direction: column;
}

/* NAVIGATION */
ul {
  display: flex;
  gap: 5rem;
  align-self: flex-end;
  font-size: 3rem;
  list-style: none;
}

li:hover {
  cursor: pointer;
}

.active-tab {
  border-bottom: 1px solid white;
}

/* HEADINGS */
h1 {
  font-size: 10rem;
  font-weight: 300;
}

h2 {
  font-size: 4rem;
  font-weight: 200;
}

h3 {
  font-size: 3rem;
  font-weight: 200;
}

/* HOME PAGE */
.home {
  margin-top: 20rem;
}

/* MENU PAGE */
.menu {
  margin-top: 5rem;
  overflow-y: scroll;
  display: grid;
  gap: 3.5rem;
}

.menu-text {
  font-size: 2rem;
}

/* menu scrollbar */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* CONTACT PAGE */
.contact {
  display: grid;
  gap: 2rem;
  margin-top: 20rem;
}

.contact-text {
  font-size: 2.5rem;
}

/* MEDIA QUERIES */
/* 1100px */
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

/* 1000px */
@media only screen and (max-width: 62.5em) {
  #container {
    display: grid;
    min-height: 100vh;
    overflow: hidden;
  }

  .main-img {
    height: 65vh;
    justify-self: center;
    align-self: end;
    grid-row-start: 2;
  }

  .content {
    display: grid;
  }

  .home,
  .contact {
    justify-self: center;
  }

  ul {
    justify-self: end;
  }

  .menu {
    height: 50vh;
  }
}
/* 500px */
@media only screen and (max-width: 31.25em) {
  .home {
    margin-top: 10rem;
  }

  .contact {
    margin-top: 10rem;
  }

  .main-img {
    max-width: 100vw;
  }

  ul {
    justify-self: center;
  }
}
